<!DOCTYPE html>
<html>

<head>
  <title>Footer REACT WIDGET</title>
  <meta charset="UTF-8" />
  <script src="../../../lib/react.development.js"></script>
  <script src="../../../lib/react-dom.development.js"></script>
  <script src="../../../lib/babel.min.js"></script>
  <link rel="stylesheet" href="style.css" />

  <style>
    body {
      padding: 0;
      margin: 0;
    }
  </style>
</head>

<body>
  <div id="root-footer">root-footer</div>
</body>
<script src="footer_babel.js"></script>

</html>